# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/
ENV/

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Output FASTA files
*.fasta.out
filtradas.fasta
filtradas.R.fasta

# datasets
app/data/*
app/resultados/*

